@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css?family=Hepta+Slab:400,700|Lato:400,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#navbar-main {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #cecece;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
    z-index: 1000;
    background-color: #fff;
}

#carrinho-btn {
  position: relative; /* Necessário para o posicionamento da bolinha */
}

.cart-notificacao {
  position: absolute;
  top: -10px;
  left: 20px;
  width: 15px;
  height: 15px;
  background-color: red;
  color: rgb(255, 255, 255);
  font-size: 10px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1; 
  visibility: hidden;
}

.cart-notificacao.show {
  visibility: visible;
}

.logo {
    width: 200px;
    height: auto;
}

#search-container {
    position: relative;
    width: 400px; /* Ajuste conforme necessário */
}

#search-input {
    width: 100%;
    padding: 7px 10px;
    font-size: 1.3vw;
    border-radius: 30px;
    border: 1.5px #202020 solid;
}

#search-input:focus {
    outline: none;

}

.search-icon {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.list-navbar-main {
    display: flex;
    list-style: none;
}

.list-navbar-main a {
    color: #202020;
    text-decoration: none;
    transition: ease-in-out 0.15s;
}

.list-navbar-main a:hover {
    color: #ca3232;
    transform: scale(1.04);
}

.container-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    column-gap: 10px;
}

#carrossel-container {
    margin-top: 100px;
    width: 100%;
    padding: 10px;
}

#carrossel {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap:  20px;
}

#carrossel-image {
    width: 90%;
    height: 500px;
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
}


#carrossel button {
    background-color: white;
    border: none;
    font-size: 1.6vw;
}

#carrossel button:hover {
    color: #ca3232;
    cursor: pointer;
}

.models {
  display:none;
}

#container-main {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pizza-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  margin-top: 40px;
}

.pizza-item {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.685);
  display: flex;
  flex-direction: column;
  width: 300px; 
  border-radius: 10px;
}

.pizza-item--img {
  border-bottom: 1px solid #adadad;
  text-align: center;
  width: 100%;
}

.pizza-item--img img {
  width: 90%;
}

.pizza-item--name,
.pizza-item--desc,
.pizza-item--price {
  padding: 5px;
  flex-shrink: 0; 
}


.pizza-item--name p,
.pizza-item--desc p,
.pizza-item--price p {
  margin-left: 15px;
  font-family: 'Lato', Helvetica, Arial;
  font-size: 1.3vw;
}

.pizza-item--btn {
  padding: 15px 5px;
  margin-top: auto;
  border: none; 
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  background-color: #ca3232;
  transition: ease-in-out 0.2s;
}

.pizza-item--btn:hover {
  background-color: #992626;
  cursor: pointer;
}

.pizzaWindowArea {
  position:fixed;
  left:0;
  top:0;
  bottom:0;
  right:0;
  background-color:rgba(196, 164, 164, 0.5);
  display:none;
  transition: all ease .5s;
  justify-content: center;
  align-items: center;
  overflow-y:auto;
}

.pizzaWindowContainer {
  width:900px;
  background-color:#FFF;
  border-radius:10px;
  box-shadow:0px 0px 15px #999;
  display:flex;
  margin:20px 0px;
}

.pizzaBig {
  flex:1;
  display:flex;
  justify-content: center;
  align-items: center;
}

.pizzaBig--back {
  position:absolute;
  width:30px;
  height:30px;
  background-color:#000;
}

.pizzaBig img {
  height:400px;
  width:auto;
}

.pizzaInfo {
  flex:1;
  font-family:'Hepta Slab', Helvetica, Arial;
  padding-bottom:50px;
}

.pizzaInfo h1 {
  margin-top:50px;
}

.pizzaInfo .pizzaInfo--desc {
  font-size:15px;
  color:#404040;
  margin-top:10px;
  font-family:'Lato',Helvetica,Arial;
}

.pizzaInfo--sector {
  color:#404040;
  text-transform: uppercase;
  font-size:14px;
  margin-top:30px;
  margin-bottom:10px;
}

.pizzaInfo--sizes {
  display:inline-flex;
  border-radius:10px;
  overflow:hidden;
}

.pizzaInfo--size {
  padding:10px 15px;
  color:#000;
  background-color:#EEE;
  font-size:13px;
  font-weight: bold;
  cursor:pointer;
  transition: ease-in-out 0.15s;
}

.pizzaInfo--size:hover {
  background-color:#CCC;
}

.pizzaInfo--size.selected {
  background-color:#d32f2f;
  color:#FFF;
}

.pizzaInfo--size.selected span {
  color:#D6D6D6;
}

.pizzaInfo--size span {
  font-size:12px;
  color:#535353;
  font-weight: normal;
}

.pizzaInfo--price {
  display:flex;
  align-items:center;
}

.pizzaInfo--actualPrice {
  font-size:28px;
  margin-right:30px;
}

.pizzaInfo--qtarea {
  display:inline-flex;
  background-color:#EEE;
  border-radius:10px;
  height:30px;
}

.pizzaInfo--qtarea button {
  border:0;
  background-color:transparent;
  font-size:17px;
  outline:0;
  cursor:pointer;
  padding:0px 10px;
  color:#333;
}

.pizzaInfo--qt {
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
  padding: 0px 5px;
  color:#000;
}

.pizzaInfo--addButton {
  margin-top:30px;
  padding:20px 30px;
  border-radius:20px;
  background-color:#48d05f;
  color:#FFF;
  display:inline-block;
  cursor:pointer;
  margin-right:5px;
  transition: ease-in-out 0.15s;
}

.pizzaInfo--addButton:hover {
  background-color:#32a345;
}

.pizzaInfo--cancelButton {
  display:inline-block;
  cursor:pointer;
  padding:20px 30px;
  border-radius:20px;
  background-color: #ca3232;
  color:#FFF;
  display:inline-block;
  transition: ease-in-out 0.15s;
}

.pizzaInfo--cancelButton:hover {
  background-color: #992626;
}

aside {
  background-color:#ffffff;
  width: auto;
  font-family:'Hepta Slab', Helvetica, Arial;
  transition:all ease .2s;
  overflow-x:hidden;
  position:fixed;
  left: 100vw;
  right:0;
  top:0;
  bottom:0;
  transition: all ease .2s;
}

aside.show {
  width:20vw;
  left: 78.6vw;
}

.cart--area {
  margin-top: 70px; /* ajuste */
  padding:20px;
}

.cart--area h1 {
  display: relative;
  margin-left: 17%;
}

.cart {
  margin-bottom:20px;
}

.cart--item {
  display:flex;
  align-items:center;
  margin:10px 0;
}

.cart--item img {
  width:40px;
  height:40px;
  margin-right:20px;
}

.cart--item-nome {
  flex:1;
}

.cart--item--qtarea {
  display:inline-flex;
  background-color:#EEE;
  border-radius:10px;
  height:30px;
}

.cart--item--qtarea button {
  border:0;
  background-color:transparent;
  font-size:17px;
  outline:0;
  cursor:pointer;
  padding:0px 10px;
  color:#333;
}

.cart--item--qt {
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
  padding: 0px 5px;
  color:#000;
}

.cart--totalitem {
  padding:15px 0;
  border-top:1px solid #ca3232;
  color:#000000;
  display:flex;
  justify-content: space-between;
  font-size:15px;
}

.cart--totalitem span:first-child {
  font-weight: bold;
}

.cart--totalitem.big {
  font-size:20px;
  color:#000;
  font-weight: bold;
}

.cart--finalizar {
  padding:20px 30px;
  border-radius:20px;
  background-color:#48d05f;
  color:#FFF;
  text-align:center;
  margin-top:20px;
  transition: all ease .2s;
}

.cart--finalizar:hover {
  cursor:pointer;
  background-color: #339242;
}

.cart--fechar {
  padding:20px 30px;
  border-radius:20px;
  background-color: #ca3232;
  color:#FFF;
  text-align:center;
  margin-top:20px;
  transition: all ease .2s;
}

.cart--fechar:hover {
  background-color: #9e2626;
  cursor:pointer;
}


@media (max-width: 600px) {
    #container-mensagem .paragrafo-mensagem {
        font-size: 16px;
    }

    #card {
        max-width: 8em;
        width: 90%;
        overflow: hidden;
        border: 1px #202020 solid;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 10px;
        box-shadow: 1px 1px 4px black;
    }
}

@media (max-width: 400px) {
    #container-mensagem .paragrafo-mensagem {
        font-size: 14px;
    }

    #card {
        max-width: 7em;
        width: 90%;
        overflow: hidden;
        border: 1px #202020 solid;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 10px;
        box-shadow: 1px 1px 4px black;
    }
}